body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
        'Arial', sans-serif;
    width:100%;
    height:100%;
    margin: 0 auto;
    background-color:#041727;
    color:white;
}

.contentholder {
    margin: 0 20px;
    height:200px;
    width:200px;
    border-radius:50px;
    text-align:center;
    vertical-align:middle;
    box-shadow:black 2px 2px 2px;
    cursor:pointer;
    color:white;
}

.freeflag {
    background-color:green;
    position:absolute;
    bottom:20px;
    right:20px;
    border-radius:5px;
    padding:5px;
    opacity:.8;
    cursor:pointer;
    box-shadow:black 2px 2px 2px;

}

.titleblock {
    background-color:grey;
    opacity:.8;
    width:90%;
    vertical-align:middle;
    display:inline-block;
    cursor:pointer;
    border-radius:5px;
    margin-top:10px;
}

.whitetext {
    color:white;
}

.blacktext {
    color:black;
}

.primarytextcolor {
    color:white;
}

.verticallinecenteredwhite {
    background-image: linear-gradient(#fff, #fff);
    background-size: 2px 100%;
    background-repeat: no-repeat;
    background-position: center center;    
}

.verticallinewhitecontentcell {
    background-image: linear-gradient(#fff, #fff);
    background-size: 2px 100%;
    background-repeat: no-repeat;
    background-position: 30.9% center;    
}

.verticallineheight {
    height: 100;
}

.textaligncenter {
  text-align: center;
}

.textalignright {
  text-align: right;
}

.textalignleft {
  text-align: left;
}
    
.displayinlineblock {
  display: inline-block;
}

.circlewhite {
    border:2px solid white;
    margin: 0px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    background: #041727;
}

.circlesizelarge {
    width: 226px;
    height: 226px;
}

.circlesizemedium {
    width: 128px;
    height: 128px;
}

.uploadcell {
    height: 256px;
}

.cellcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}